html,
body,
.root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body,
.app {
  background: #fff;
  font-family: "Raleway", sans-serif;
}

/* icons */

.icon__back-arrow,
.icon__close {
  display: block;
  fill: #999;
  position: relative;
}

.icon__back-arrow {
  top: 5px;
}

.icon__close {
  float: right;
  top: 10px;
}

.icon__back-arrow:hover,
.icon__close:hover {
  fill: black;
}

/* main heading styles */

.list-books__top-bar {
  background: linear-gradient(to left, #0b9e72, #0678d6);
  letter-spacing: 5px;
  padding: 10px 0;
  text-align: center;
}
.list-books__title {
  margin: 0;
}
.list-books__title a {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}
.list-books__title a:hover {
  color: #ffd477;
}
.list-books__title a:active {
  color: #d60656;
}

/* headings style */

.heading--secondary {
  color: #03457a;
  font-size: 24px;
  letter-spacing: 2px;
}

.heading--tertiary {
  color: #03457a;
  font-size: 20px;
  letter-spacing: 2px;
}

/* main page */

.list-books__content {
  flex: 1;
  padding: 0 0 80px;
}

.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf__title {
  border-bottom: 1px solid #dedede;
  text-align: center;
}
.bookshelf__books {
  text-align: center;
}

.open-search {
  bottom: 25px;
  position: fixed;
  right: 25px;
}
.open-search a {
  background: #0678d6;
  background-image: url("./icons/add.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: block;
  font-size: 0;
  width: 50px;
  height: 50px;
}
.open-search a:hover {
  background-color: #00447c;
}

.no-books-message {
  color: #666;
  font-size: 18px;
  font-style: italic;
  margin-top: 80px;
  text-align: center;
  word-spacing: 2px;
}

/* search page */

.search-books__bar {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
  display: flex;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.search-books__input-wrapper {
  /* background: #e9e; */
  flex: 1;
}
.search-books__bar input {
  border: none;
  font-size: 1.25em;
  outline: none;
  padding: 15px 10px;
  width: 100%;
}

.search-books__main {
  padding: 80px 10px 20px;
}

.search-books__keywords-screen {
  text-align: center;
  width: 100%;
  padding: 0 20px;
}

.reset-shelf-btn {
  margin: 15px auto 20px;
}

.query-result--g {
  font-size: 16px;
  text-align: center;
}

.reset-shelf-btn,
.reset-query-btn,
.query-result--g p,
.keywords-group {
  display: inline-block;
}

.reset-shelf-btn,
.reset-query-btn,
.keyword-btn {
  font-size: 16px;
  background-color: transparent;
  border: none;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  margin-right: 5px;
  text-decoration: underline;
}

.reset-query-btn,
.keyword-btn {
  color: rgb(1, 133, 93);
}
.reset-shelf-btn {
  color: #d60656;
  font-weight: 600;
}
.reset-query-btn:hover,
.keyword-btn:hover {
  color: #d60656;
}
.reset-shelf-btn:hover {
  color: #3508fc;
}
.reset-shelf-btn:active,
.reset-query-btn:active,
.keyword-btn:active {
  color: #dd9907;
}

/* books grid */

.books-grid--g {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.books-grid--g li {
  padding: 10px 15px 10px 0;
  text-align: left;
}

.book {
  margin: 0 25px;
  width: 160px;
}
.book-title,
.book-authors {
  font-size: 0.8em;
}
.book-title {
  margin-top: 10px;
}
.book-authors {
  color: #666;
}

.book-top {
  align-items: flex-end;
  display: flex;
  height: 200px;
  position: relative;
}

.book-cover {
  background: #eee;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.book-cover--alt {
  color: #666;
  display: block;
  text-align: center;
  transform: translateY(100px);
}

.book-shelf-changer--g {
  background: #06a9d6;
  background-image: url("./icons/arrow-drop-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  z-index: 5;
}
.book-shelf-changer--g select {
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 100%;
}
/* .book-shelf-changer--g select:focus {
  background-color: transparent;
  border: none;
  border-radius: 50px;
  color: transparent;
  opacity: 0;
  outline-offset: 5px;
} */

.book-shelf-changer--g:hover {
  background-color: #00447c;
}

/* single book page */

.book-details__author {
  color: #666;
}

.book-details--strong {
  color: #0364b3;
  font-weight: bold;
  margin-right: 2px;
}

.link {
  border-bottom: 1px solid rgb(1, 133, 93);
  color: rgb(1, 133, 93);
  font-weight: 600;
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid #d60656;
  color: #d60656;
}

.link:active {
  border-bottom: 1px solid #dd9907;
  color: #dd9907;
}

.shelf-tag {
  color: #fff;
  border: 2px solid #fff;
  display: block;
  font-size: 14px;
  line-height: 25px;
  position: absolute;
  bottom: 15px;
  padding: 2px;
  text-transform: uppercase;
  transition: all 0.7s;
  width: 100%;
}
.shelf-tag span {
  letter-spacing: 1px;
  margin-left: 5px;
}
.shelf-reading {
  background-color: #1a946d;
}
.shelf-want-to-read {
  background-color: #c90651;
}
.shelf-read {
  background-color: #0f6fc4;
}
.shelf-none {
  background-color: #999;
}

.book-details__container {
  width: 100%;
}

.book-details__main {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
}

.book-details__title {
  border-bottom: 1px solid #dedede;
  margin: -20px auto 0;
  text-align: center;
  width: 100%;
}

.book-details__body {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 100%;
}

.book-details__section-1,
.book-details__section-2 {
  border-bottom: 1px solid #dedede;
  padding: 20px 0;
}

.book-details__section-1,
.book-details__section-2,
.book-details__section-3 {
  width: 100%;
}

.book-details__book-cover {
  margin: 0 auto;
  position: relative;
  width: 192px;
  height: 282px;
}

.book-details__book-cover--img {
  background: #eee;
  background-size: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.book-details__info {
  display: inline-block;
  position: relative;
  left: 50%;
  margin: 0 auto;
  text-align: center;
  transform: translateX(-50%);
}

.book-details__info--title {
  margin-top: 0;
}

.book-details__info--list {
  display: block;
  font-size: 16px;
  line-height: 30px;
  list-style-type: none;
  padding-left: 0;
}

.book-details__overview--title {
  text-align: center;
}

.book-details__overview--description {
  font-size: 16px;
  line-height: 30px;
  margin: 0 8% 30px;
  text-align: justify;
}

@media screen and (min-width: 550px) {
  .book-details__section-1 {
    width: 45%;
  }
  .book-details__section-2 {
    width: 55%;
  }
  .book-details__info--list {
    text-align: justify;
  }
  .book-details__info--title,
  .book-details--weblink {
    text-align: center;
  }
}

@media screen and (min-width: 600px) {
  .book-details__title {
    max-width: 700px;
  }
  .book-details__section-1,
  .book-details__section-2 {
    width: 50%;
  }
  .book-details__info {
    display: inline-block;
    left: 0%;
    margin: 0;
    position: relative;
    transform: translateX(0%);
  }
  .book-details__info--list {
    line-height: 30px;
    list-style-type: none;
    padding-left: 0;
  }
}

@media screen and (min-width: 800px) {
  .book-details__book-cover {
    margin-right: 50px;
  }
  .book-details__info {
    margin-left: 50px;
  }
}
